
body{
    background: url(../images/background.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header{
}
.main{
    width: 960px;
    height: 675px;
    text-align: center;
    border: 5px solid black;
    background: white;
}
