
body{
    background: url(../images/background.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.main{
    width: 960px;
    height: 600px;
    text-align: center;
    /* border: 5px solid black; */
    /* background: white; */
}
h1{
    color: white;
    font-size: 75px;
}
#startBtn{
    height: 100px;
    width: 175px;
}

#question,
#timer,
#possibles{
    color:white;
    font-size: 50px;
}

#question,
#timer{
    background: black;
}

/* #timer{
    border: 2px solid black;
} */
#answerBtn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
    font-size: 30px;
    height: 100px;
    width: 50%;
    color:white;
}
#answerBtn:hover {
    background: black;
    border: 2px solid black;
}